<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <!-- Define log file location -->
        <Property name="logPath">./logs</Property>
        <!--<Property name="logFileName">TestExecution.log</Property>  -->
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender for detailed logs -->
        <RollingFile name="FileAppender" fileName="${logPath}/automation.log"
                     filePattern="${logPath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5000"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Define the root logger -->
        <Root level="Debug"> <!-- Here we can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal < Off  -->
           <!-- <AppenderRef ref="Console"/>-->
            <AppenderRef ref="FileAppender"/>
        </Root>

       <!-- Logger for Selenium-related logs -->
        <!--<Logger name="org.openqa.selenium" level="info" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>-->

        <!-- Logger for TestNG-related logs -->
        <!--<Logger name="org.testng" level="info" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>-->
    </Loggers>
</Configuration>
